<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<insert id="insertBoard">
		insert into LF_Product_Test (category, title, lost_found_date, writer, lost, content, feature, photourl)
		values
		(#{category}, #{title}, #{lost_found_date}, #{writer}, #{lost}, #{content}, #{feature}, #{photourl})
	</insert>
	<update id="updateBoard">
		update LF_Product_Test
		set title=#{title}, content=#{content},
		writer=#{writer}, category=#{category}, photourl=#{photourl}, lost_found_date=#{lost_found_date},
		lost=#{lost}, feature=#{feature}
		where seq=#{seq}
	</update>
	<delete id="deleteBoard">
		delete from LF_Product_Test where seq=#{seq}
	</delete>
	<select id="getBoard" resultType="board">
		select * from LF_Product_Test where
		seq=#{seq}
	</select>
	<select id="getBoardList" resultType="board">
		select * from LF_Product_Test order
		by seq
	</select>
	<!-- 01. 게시글 전체 목록 조회 및 검색조회까지 -->
	<select id="listAll" resultType="board">
		<include refid="pagingHeader"></include>
			SELECT ROWNUM, LF_Product_Test.* 
			FROM LF_Product_Test
			<!-- SELECT*FROM
				LF_Product_Test -->
			<!-- 검색조건 -->
			<include refid="search"></include>
			ORDER BY seq DESC
		<!-- 페이징 -->
		<include refid="pagingFooter"></include>
	</select>
	<!-- 02_02. 게시글 레코드 갯수 -->
	<select id="countArticle" resultType="int">
		SELECT COUNT(*) FROM LF_Product_Test 
		<!-- WHERE절을 include 태그로 삽입 -->
		<include refid="search"></include>
	</select>
	<!-- sql code 조각 -->
	<!-- 반복되는 sql의 일부를 sql태그를 이용하여 따로 빼둘수 있다.
	검색 조건 sql -->
	<sql id="search">
		<choose>
			<!-- 검색옵션이 전체 검색일 경우 -->
			<when test="searchOption == 'all'">
				WHERE 
					writer like CONCAT ('%', #{keyword},'%')
				OR 
					content like CONCAT ('%', #{keyword},'%')
				OR 
					title like CONCAT ('%', #{keyword},'%')
			</when>
			<!-- 전체 검색이 아닐 경우 -->
			<otherwise>
				WHERE ${searchOption} like CONCAT ('%', #{keyword},'%')
			</otherwise>
		</choose>
	</sql>
	<!-- 페이징 sql -->
	<sql id="pagingHeader">
		SELECT * FROM (
			SELECT ROWNUM AS rn, A.* FROM (
	</sql>
	<sql id="pagingFooter">
			) A
		) WHERE rn BETWEEN #{start} AND #{end}
	</sql>
</mapper>